In [2]:
# Loading packages
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
# Reading both csv files 
df_sarcastic = pd.read_csv('Sarcasm_Hindi_Tweets-SARCASTIC.csv')
df_non_sarcastic = pd.read_csv('Sarcasm_Hindi_Tweets-NON-SARCASTIC.csv')

#Providing labels as sarcastic and non-sarcastic
df_sarcastic['label'] = 'sarcastic'
df_non_sarcastic['label'] = 'non_sarcastic'

#Concatenating them
df = pd.concat([df_sarcastic, df_non_sarcastic], axis=0)

#Dropping off columns that we dont need
df = df.drop(['username','acctdesc','location','following','followers', 'totaltweets', 'usercreatedts', 'tweetcreatedts', 'retweetcount', 'hashtags'] ,axis=1)
print(df)

                                                    text          label
0      ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...      sarcastic
1      ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...      sarcastic
2      ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...      sarcastic
3      ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...      sarcastic
4      ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...      sarcastic
...                                                  ...            ...
10123  ‡§∏‡•ç‡§µ‡§∞‡•ç‡§ó‡•Ä‡§Ø ‡§∂‡•ç‡§∞‡•Ä ‡§∏‡•Å‡§∂‡§æ‡§Ç‡§§ ‡§∏‡§ø‡§Ç‡§π ‡§∞‡§æ‡§ú‡§™‡•Ç‡§§ ‡§®‡•á ‡§π‡§Æ‡•á‡§Ç ‡§õ‡§ø‡§õ‡•ã‡§∞...  non_sarcastic
10124  ‡§¨‡•â‡§≤‡•Ä‡§µ‡•Å‡§° ‡§è‡§ï‡•ç‡§ü‡§∞ #‡§∏‡•Å‡§∂‡§æ‡§Ç‡§§_‡§∏‡§ø‡§Ç‡§π_‡§∞‡§æ‡§ú‡§™‡•Ç‡§§ ‡§®‡•á #‡§´‡§æ‡§Ç‡§∏‡•Ä ‡§≤‡§ó...  non_sarcastic
10125  #SushantSinghRajput #Suicide  ‡§ï‡•ç‡§Ø‡•ã‡§Ç?? ‡§ö‡§Æ‡§ï ‡§ß‡§Æ‡§ï ...  non_sarcastic
10126  ‡§π‡§∞ ‡§π‡§æ‡§≤ ‡§Æ‡•á‡§Ç #‡§ñ‡•Å‡§∂ ‡§∞‡§π‡§®‡§æ ‡§∏‡•Ä‡§ñ ‡§≤‡•ãüôÉ\n        ‡§â‡§∏ ‡§¶‡§ø‡§≤ ‡§ï...  non_sarcastic
10127  ‡§á‡§§‡§®‡§æ ‡§ï‡•Å‡§õ ‡§™‡§æ‡§®‡•á ‡§ï‡•á ‡§¨‡§æ‡§¶ ‡§≠‡•Ä ‡§Ö‡§ó‡§∞ ‡§á‡§Ç‡§∏‡§æ‡§® ‡§ú‡§ø‡§¶‡§Ç‡§ó‡•Ä ‡§∏‡•á ‡§π‡§æ...  non_sarcastic

[16179 rows x 2 columns]

In [5]:
#Reseting the index 
df = df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   16179 non-null  int64
 1   text    16179 non-null  object
 2   label   16179 non-null  object
dtypes: int64(1), object(2)
memory usage: 379.3+ KB

In [6]:
#Dropping off the index column
df = df.drop('index',axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    16179 non-null  object
 1   label   16179 non-null  object
dtypes: object(2)
memory usage: 252.9+ KB

In [5]:
# Printing the first five data of dataset
df.head()

                                                text      label
0  ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...  sarcastic
1  ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...  sarcastic
2  ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...  sarcastic
3  ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...  sarcastic
4  ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...  sarcastic

# Dropping Duplicates

In [7]:
# Dropping the duplicate values from dataset
df = df.drop_duplicates(keep='first') # keep='first' means dropping duplicates except for the first occurrence.
df.head()

                                                text      label
0  ‡§π‡§Æ‡§æ‡§∞‡•á ‡§ó‡§æ‡§Ç‡§µ ‡§Æ‡•á‡§Ç ‡§è‡§ï ‡§Æ‡§æ‡§∏‡•ç‡§ü‡§∞ ‡§ú‡•Ä ‡§∞‡§π‡§§‡•á ‡§•‡•á, ‡§µ‡•ã ‡§Æ‡•ã‡§π‡§≤‡•ç‡§≤...  sarcastic
5  Dil hi saaf rakhlo... \nShakal ka to vaise bhi...  sarcastic
6  ‡§ò‡•ã‡§°‡§º‡•ã ‡§ï‡•ã ‡§®‡§æ ‡§Æ‡§ø‡§≤‡•Ä ‡§ò‡§æ‡§∏ ‡§î‡§∞ ‡§ó‡§ß‡•á ‡§ñ‡§æ ‡§∞‡§π‡•á ‡§ö‡§µ‡§®‡§™‡•ç‡§∞‡§æ‡§∏üòÉüòÉ\...  sarcastic
7  ‡§™‡§ø‡§õ‡§≤‡•Ä ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§ï‡•á 10 ‡§∏‡§æ‡§≤ ‡§ï‡•á ‡§ï‡§æ‡§∞‡•ç‡§Ø‡§ï‡§æ‡§≤  ‡§Æ‡•á‡§Ç 171 ‡§ú‡§µ‡§æ...  sarcastic
8  "Akele aaye the akele hi jayengy" ye kahawat a...  sarcastic